# Mac stuff
.DS_Store

# Eclipse stuff
.project
.classpath
.settings

# Intellij stuff
.idea/
*.iml

# Ignore Sublime files
*.sublime-project
*.sublime-workspace

# Ignore all starting with ~
~*

# maven stuff
target
mvninstall.sh

# dev stuff
dev/ 

# other stuff
release.properties

# legacy (might remove)
bin
lib

# side script
build.xml

